@use '_colors';
@use '_typography';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  --font-stack-headers: var(--font-patrick-hand), var(--font-public-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-stack-primary: var(--font-public-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-stack-buttons: var(--font-patrick-hand-sc), var(--font-patrick-hand), var(--font-public-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-stack-code: var(--font-roboto-mono), monospace;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

/* Cue/Title */
.title {
  @include typography.title;
}

/* Cue/Header 1 */
h1 {
  @include typography.h1;
}

/* Cue/Header 2 */
h2 {
  @include typography.h2;
}

/* Cue/Header 3 */
h3 {
  @include typography.h3;
}

/* Cue/Body */
p {
  @include typography.body;
}

/* Cue/Bold */
strong {
  @include typography.bold;
}

/* Cue/Italic */
em {
  @include typography.italic;
}

/* Cue/Small */
small {
  @include typography.small;
}

/* Cue/Code */
code {
  @include typography.code;
}

/* Cue/Pre-Title */
.pretitle {
  @include typography.pretitle;
}

/* Cue/Button Text */
button > a {
  @include typography.buttontext;
}

/* Cue/Link */
a {
  @include typography.link;
  color: colors.$gray;
}

nav > a {
  color: inherit;
  text-decoration: none;
}

footer > a {
  text-decoration: none;
}
